@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.querybtn {
  border: 1.5px solid ;
  border-radius: 8px;
  background-color: white;
  color: grey;
  padding: 6px 6px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 12px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.querybtn:hover {
  transform: scale(1.08);
}
.btn-icon {
  margin-bottom: 5px; 
}
.relative {
  position: relative;
}

.popup {
  position: absolute;
  padding: 8px;
  border-radius: 8px;
  left: -203px; /* Adjust this value to position the popup as needed */
  top: 0px;
  width: 200px; /* Adjust width as needed */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure it's above other content */
  /* Additional styling for the popup */
  /* You can add padding, text, and other styles here */
  font-size: small;
  display: block;
}
.radios input[type="radio"] {
  /* width: 20px; 
  height: 20px; */
  margin-right: 5px; /* Optional margin for spacing between radio buttons */
}